<div class="vh-100 d-flex justify-content-center align-items-center">

  <div class="col-md-6 col-lg-4">

    <div class="card shadow-3">
      <div class="card-body p-4">

        <h3 class="text-center mb-4">Login</h3>

        <mdb-form-control class="mb-4">
          <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="login.username" (keyup.enter)="logar()"/>
          <label mdbLabel class="form-label" for="usuario">Usuário:</label>
        </mdb-form-control>

        <mdb-form-control class="mb-4">
          <input mdbInput type="password" id="senha" class="form-control" [(ngModel)]="login.password" (keyup.enter)="logar()"/>
          <label mdbLabel class="form-label" for="senha">Senha:</label>
        </mdb-form-control>

        <button type="button" class="btn btn-primary btn-block" mdbRipple (click)="logar()">Acessar</button>

      </div>
    </div>
    
  </div>
</div>


