<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-3">
                <div class="card-body p-4">
                    <h3>Listagem de marcas</h3>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary btn-floating" mdbRipple (click)="new()">
                        <!--
                        <button type="button" class="btn btn-primary btn-floating" mdbRipple routerLink="/admin/cars/new">
                            -->
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <table border="3px" class="table table-striped">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Nome</td>
                                <td>Acoes</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (brand of lista; track $index) {
                                <tr>
                                    <td>{{brand.id}}</td>
                                    <td>{{brand.name}}</td>
                                    <td class="text-end">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-warning btn-sm" mdbRipple (click)="edit(brand)">Editar</button>
                                            <button type="button" class="btn btn-danger btn-sm" mdbRipple (click)="deleteById(brand)">Deletar</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalCarDetails>
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
    ></button>
    </div>
    <div class="modal-body">
        <app-branddetails [brand]="brandEdit" (retorno)="retornoDetails($event)"></app-branddetails>
    </div>
</ng-template>