<form #brandForm="ngForm">
  <mdb-form-control class="mb-4">
    <input mdbInput type="text" id="name" name="name" class="form-control" [(ngModel)]="brand.name" required />
    <label mdbLabel class="form-label" for="name">Nome:</label>
  </mdb-form-control>

  <mdb-form-control class="mb-4">
    <input mdbInput type="number" id="fipeCode" name="fipeCode" class="form-control" [(ngModel)]="brand.fipeCode" required />
    <label mdbLabel class="form-label" for="fipeCode">Código FIPE:</label>
  </mdb-form-control>

  <mdb-form-control class="mb-4">
    <input mdbInput type="text" id="cnpj" name="cnpj" class="form-control" [(ngModel)]="brand.cnpj" required />
    <label mdbLabel class="form-label" for="cnpj">CNPJ:</label>
  </mdb-form-control>

  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" mdbRipple (click)="save()" [disabled]="!brandForm.form.valid">Salvar</button>
  </div>
</form>